*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media (max-width: 850px) {
  html {
    font-size: 32.5%;
  }
}

body {
  padding: 3rem 6rem;
  font-size: 1.8rem;
  position: relative;
}

/* 
colors

#601a18
#010101
#216848
 */

.heading {
  color: white;
  background-color: #010101;
  border-bottom: 10px solid #601a18;
  font-size: 3rem;
  padding: 1rem;
  margin-bottom: 3rem;
}

.ul1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  margin-bottom: 3rem;
}

.heading2 {
  color: #601a18;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.ul2 {
  list-style: none;
  color: white;
  background-color: #010101;
  font-size: 2.5rem;
  padding: 3rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.ul2 li:nth-child(4) {
  position: absolute;
  top: -40%;
  right: 2.5rem;
  width: 40rem;
  background-color: #601a18;
  padding: 1.5rem;
  font-size: 1.8rem;
  border-radius: 5px;
  transform: rotate(2deg);
}

@media (max-width: 850px) {
  .ul2 li:nth-child(4) {
    width: 20rem;
    right: 0;
    top: -30%;
  }
}

.heading3 {
  color: #601a18;
  font-size: 3rem;
  margin-bottom: 3rem;
}

figure {
  width: fit-content;
  margin: 0 auto;
  background-color: #601a18;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 2rem;
  transform: rotate(-2deg);
  margin-bottom: 3rem;
}

.imgs {
  display: flex;
  gap: 2rem;
}

.imgs div {
  width: 100%;
  max-width: 25rem;
  height: 35rem;
  overflow: hidden;
  border-radius: 5rem;
  border: 3px solid white;
}
.imgs div img {
  width: 100%;
  object-fit: cover;
}

figcaption {
  font-size: 2rem;
  color: white;
}

.ul3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  font-size: 2rem;
  margin-bottom: 5rem;
}

video {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 1rem;
  width: 60rem;
  max-width: 100%;
}

.vidLink {
  position: absolute;
  left: 65%;
}

.greenarrow {
  height: 40rem;
  background-color: #216848;
  width: fit-content;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 40rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

ion-icon {
  color: white;
  font-size: 3rem;
}
